body {
    background-repeat: no-repeat;
    background-size: cover;
    background-color: lavender;
    background-attachment: fixed;
}

.logins {
  position: absolute;
  right:auto;
}

table, th, td {
    border: 1px solid black;
    background-color: thistle;
    font-size: 20px;
}

.table2, .th2, .td2 {
    border: 0px solid black;
    background-color: tomato;
}

.table3, .th3, .td3 {
  border: 0px solid black;
  background-color: chartreuse;
}

.tablemain, .thmain, .tdmain {
  border: 0px solid black;
  background-color: transparent;
}
.tablestore, .thstore, .tdstore {
  border: 0px solid;
  background-color: transparent;
}

#myBtn {
    display: none; 
    position: fixed;
    top: 20px;
    right: 30px; 
    z-index: 99; 
    border: none;
    outline: none; 
    background-color: midnightblue;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
  }
  
  #myBtn:hover {
    background-color: #555;
  }

  marquee{
    font-size: 25px;
    font-weight: 800;
    color:papayawhip;
    font-family: sans-serif;
    background-color: midnightblue;
  }

  .button {
    background-color: midnightblue;
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
  }

  .div2 {
    background-color: midnightblue;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display:ruby-text;
    font-size: 14;
  }

  .regis {
    background-image: url('../scr/img/regis.gif');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
  }
  .wc {
    background-image: url('../scr/img/wc.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
  }

body{
    font-family: 'Work Sans', sans-serif;
}
.faq-heading{
    border-bottom: #777;
    padding: 20px 60px;
}
.faq-container{
display: flex;
justify-content: center;
flex-direction: column;
}
.hr-line{
  width: 60%;
  margin: auto;
  
}
/* Style the buttons that are used to open and close the faq-page body */
.faq-page {
    /* background-color: #eee; */
    color: #444;
    cursor: pointer;
    padding: 30px 20px;
    width: 60%;
    border: none;
    outline: none;
    transition: 0.4s;
    margin: auto;
}
.faq-body{
    margin: auto;
    /* text-align: center; */
   width: 50%; 
   padding: auto;
   
}

.active,
.faq-page:hover {
    background-color: lavenderblush;
}
/* Style the faq-page panel. Note: hidden by default */
.faq-body {
    padding: 0 18px;
    background-color: lavender;
    display: none;
    overflow: hidden;
}
.faq-page:after {
    content: '\02795';
    /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}
.active:after {
    content: "\2796";
    /* Unicode character for "minus" sign (-) */
}

.footer {
  font-size: small;
  border: 0px solid;
  background-color: transparent;
}

/*command nav settings*/
@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
:root
{
  --clr: #222327;
}
/* body
{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: var(--clr);
} */
.navigation
{
  width: 400px;
  height: 70px;
  background: #fff;
  position: relative;
  display: flex;
  justify-items: center;
  border-radius: 10px;
}
.navigation ul
{
  display: flex;
  width: 350px;
}
.navigation ul li
{
  position: relative;
  list-style: none;
  width: 70px;
  height: 70px;
  z-index: 1;
}
.navigation ul li a
{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  font-weight: 500;
}
.navigation ul li a .icon
{
  position: relative;
  display: block;
  line-height: 75px;
  font-size: 1.5em;
  text-align: center;
  transition: 0.5s;
}
.navigation ul li:hover a .icon
{
  transform: translateY(-32px);
}
.navigation ul li a .text
{
  position: absolute;
  font-weight: 400;
  font-size: 0.75em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  opacity: 0;
  transform: translateY(20px);
}
.navigation ul li:hover a .text
{
  opacity: 1;
  transform: translateY(10px);
}
/* .indicator
{
  position: absolute;
  top: -50%;
  width: 70px;
  height: 70px;
  background: #29fd53;
  border-radius: 50%;
  border: 6px solid;
  transition: 0.5s;
}
.indicator::before
{
  content: '';
  position: absolute;
  top: 50%;
  left: -22px;
  width: 20px;
  height: 20px;
  background: transparent;
  border-top-right-radius: 20px;
  box-shadow: 0px -10px 0 0;
}
.indicator::after
{
  content: '';
  position: absolute;
  top: 50%;
  right: -22px;
  width: 20px;
  height: 20px;
  background: transparent;
  border-top-left-radius: 20px;
  box-shadow: 0px -10px 0 0;
} */